div#root {
  /* max-width: 100vh; */
  text-align: center;
  color: wheat;
  padding: 10px;
  text-shadow: 1px .5px 1px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-repeat: no-repeat; */
  /* background-image: url('./assets/pexels-ryan-holloway-71499-427900.jpg'); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-color: transparent; */
  
}


html, body{
  background-image: url('./assets/pexels-ryan-holloway-71499-427900.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}

.navbar-home{
  color: #2f4f4f
}
a.navbar-brand{
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px wheat;

}
a.navbar-brand:hover{
  color: wheat;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px white;
}
a.nav-link{
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px wheat;
}
a.nav-link:hover{
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px wheat;
}

.btn{
  text-shadow: 2px 2px 2px wheat;
  margin: 3px;
  color: white;

}


div.offcanvas-body{
  background-image: url('./assets/pexels-ryan-holloway-71499-427900.jpg');
  background-size: cover;
  color: white
}

div.offcanvas-header{
  background: black;
  color: white;
}
div.card-body{
  background: gray;
  color: white
}

img.card-img-top{
  width: 100%;
  height: auto;
}


div.list-group-item{
  background: gray;
  color: white;
}



.card{

  margin: 15px;

}
.home-container{
  color: white;
  text-shadow: 2px 2px 2px wheat;
  position: sticky;
  width: auto;
  padding: 4rem;
  margin: 4rem;
  border-radius: 10px;
}

.link-container{
  display: flex;
  position: relative;
  justify-content: space-evenly;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}
.link-container a{
  color:white;
  text-decoration: none;
}

.footer-container{
  display: flex;
  text-decoration: none;
  color: white;
  flex-direction: column;
  position: relative;
  margin: 4rem;
  margin-top: 30rem;

}
.footer-container a{
  color:white;
  text-decoration: none;
  margin: 2rem;
}

#btn-btn{
  background-color: red;
}

.cart-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.cart-container img{
  width: 200px;
  
}

button.navbar-toggler.collapsed{
  color: white;
  /* background: white; */
}
span.navbar-toggler-icon{
  color: white;
   
  
}

.home-container{
  display: flex;
  justify-content: center;
}
.home-container img{
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px, 0 0 20px white;
  
}


.login-btn, .register-btn{
  position: relative;
  margin-left: 10rem;
}
